@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #EFF4FA;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}
